<div class="sticky top-24 space-y-2 p-4 bg-white h-full w-max rounded-tr-xl rounded-br-xl
transition-all ease-in-out duration-500">
    <div class="flex justify-between items-center mb-4 " [ngClass]="{ 'mb-6': panelIcon === PanelLeftOpen }">
      <h2
        class="text-sm font-bold text-slate-400 uppercase"
        [ngClass]="{ 'hidden': panelIcon === PanelLeftOpen }"
      >
        Generation Mode
      </h2>

      <lucide-icon
        [img]="panelIcon"
        class="size-6 cursor-pointer stroke-slate-500 hover:stroke-blue-700 transition-colors duration-300"
        (click)="onPanelClick()"
      ></lucide-icon>

    </div>

  @if (panelIcon === PanelLeftOpen) {
    <div class="flex flex-col">
      <lucide-icon [img]="FileText" class="size-6 cursor-pointer mb-6 stroke-slate-500 hover:stroke-blue-700"
                   [ngClass]="[activeMode === 'doc-to-doc' ? 'stroke-blue-700' : 'stroke-slate-500']"></lucide-icon>
      <lucide-icon [img]="Keyboard" class="size-6 cursor-pointer stroke-slate-500 hover:stroke-blue-700"
                   [ngClass]="[activeMode === 'info-to-doc' ? 'stroke-blue-700' : 'stroke-slate-500']"></lucide-icon>
    </div>
  }

    <button
      (click)="setMode('doc-to-doc')"
      class="w-full cursor-pointer flex items-center p-3 rounded-lg text-sm font-medium transition-all"
      [ngClass]="[
        activeMode === 'doc-to-doc'
          ? 'bg-blue-700/30 backdrop-blur-4xl text-blue-700 ring-1 ring-blue-200 shadow-sm z-10 backdrop-blur-3xl'
          : 'text-slate-600 hover:bg-slate-50 hover:text-slate-900',
        panelIcon === PanelLeftOpen ? 'hidden' : ''
      ]"
    >
        <div class="p-2 rounded-md mr-3" [ngClass]="activeMode === 'doc-to-doc' ? 'bg-blue-100' : 'bg-slate-100'">
            <lucide-icon [img]="FileText" class="h-5 w-5"></lucide-icon>
        </div>
        <div class="text-left">
            <div class="font-semibold">Document to Document</div>
            <div class="text-xs font-normal opacity-75">MBL to HBL Conversion</div>
        </div>
    </button>

    <button
      (click)="setMode('info-to-doc')"
      class="cursor-pointer w-full flex items-center p-3 rounded-lg text-sm font-medium transition-all"
      [ngClass]="[
        activeMode === 'info-to-doc'
          ? 'bg-blue-700/30 backdrop-blur-4xl text-blue-700 ring-1 ring-blue-200 shadow-sm z-10 backdrop-blur-2xl'
          : 'text-slate-600 hover:bg-slate-50 hover:text-slate-900',
        panelIcon === PanelLeftOpen ? 'hidden' : ''
      ]"
    >
        <div class="p-2 rounded-md mr-3" [ngClass]="activeMode === 'info-to-doc' ? 'bg-blue-100' : 'bg-slate-100'">
            <lucide-icon [img]="Keyboard" class="h-5 w-5"></lucide-icon>
        </div>
        <div class="text-left bg-blue-">
            <div class="font-semibold">Info to Document</div>
            <div class="text-xs font-normal opacity-75">Manual Data Entry</div>
        </div>
    </button>
</div>
