<div class="flex flex-col relative justify-center">
  <label class="text-xs font-semibold text-slate-500 uppercase mb-1">
    {{label}}
  </label>
  <div class="w-full bg-white border border-solid border-slate-400
  focus:ring-2 focus:ring-blue-500 outline-none h-10 p-4 select-none
  rounded-lg flex flex-row items-center justify-between cursor-pointer"
  (click)="showDropdown = !showDropdown" >
    @if (selectedValue !== '') {
      <span class="text-sm text-slate-900">{{selectedValue}}</span>
    }
    @else {
      <h1 class="text-sm text-gray-500">{{placeholder}}</h1>
    }
    <lucide-icon [img]="ChevronDown" class="size-4 text-slate-400
    pointer-events-none justify-self-end" (click)="showDropdown = !showDropdown"></lucide-icon>
  </div>

  @if(showDropdown) {
    <div class="absolute top-full z-10 h-max w-full bg-white/25
    backdrop-blur-[3px] rounded-lg border border-solid
    border-x-slate-400 border-b-slate-400 border-t-0">
      @for (item of items; track $index){
        <li class="dropdown-hover list-none cursor-pointer p-2
        outline-none select-none"
        (click)="onSelect(item)">
          <span class="text-sm text-slate-900">{{item}}</span>
        </li>
      }
    </div>
  }
</div>
